{profiles, [
            {prod, [
                    {erl_opts, [warn_untyped_records, debug_info, warnings_as_errors]}
                   ]},
            {test, [
                    {plugins, [coveralls]},
                    {cover_enabled, true},
                    {cover_export_enabled, true},
                    {coveralls_coverdata, "_build/test/cover/eunit.coverdata"},
                    {coveralls_service_name, "travis-ci"}
                   ]}
           ]}.

{deps, [
        {keccakf1600, ".*", {git, "git://github.com/potatosalad/erlang-keccakf1600.git", {branch, "master"}}},
        {small_ints, ".*", {git, "https://github.com/whatyouhide/small_ints", {branch, "master"}}}
       ]}.

{dialyzer, [{warnings, [no_return, no_match, unmatched_returns, error_handling, race_conditions, underspecs]}]}.

{src_dirs, ["src", "vendor/aeternity"]}.