{plugins, [coveralls, rebar3_hex]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, "_build/test/cover/eunit.coverdata"}.
{coveralls_service_name, "travis-ci"}.

{erl_opts, [warn_untyped_records, debug_info, warnings_as_errors]}.

{dialyzer, [{warnings, [no_return, no_match, unmatched_returns, error_handling, race_conditions, underspecs]}]}.

{deps, [
        {keccakf1600, "2.0.0"},
        {small_ints, "0.1.0"}
       ]}.

{src_dirs, ["src", "vendor"]}.
