{cover_enabled, true}.

{cover_export_enabled, true}.

{cover_excl_mods, [
    multihash_nif
]}.

{erl_opts, [warn_untyped_records, debug_info, warnings_as_errors]}.

{dialyzer, [
    {warnings, [
        no_return,
        no_match,
        unmatched_returns,
        error_handling,
        race_conditions,
        underspecs
    ]}
]}.

{pre_hooks, [
    {"(linux|solaris|freebsd)", compile,
        "sh -c \"cd crates/multihash && cargo build --release && cp target/release/libmultihash.so ../../priv/\""},
    {"(darwin)", compile,
        "sh -c \"cd crates/multihash && cargo build --release && cp target/release/libmultihash.dylib ../../priv/libmultihash.so\""}
]}.
